<div class="row justify-content-center">

    <h2 class="text-center">Create Flashcard</h2>

    <div class="card" style="width: 18rem;">
        <div class="card-text">
            <h4 for="new-question-label">Enter Question</h4>
            <input type="text" class="form-control" id="new-question-input" required />
        </div>
        <div class="card-text">
            <h4 for="new-answer-label">Enter Answer</h4>
            <input type="text" class="form-control" id="new-answer-input" required />
        </div>
        <div>
            <button class="btn btn-primary" (click)="submit()">Submit</button>
            <button class="btn btn-warning" (click)="back()">Back</button>
        </div>

    </div>

</div>