<div class="card" style="width: 18rem;">
    <h5 class="card-header">Question {{counter + 1}}</h5>

</div>
<div class="card-body">
    <p id="question-text" class="card-text">{{flashcardInfo.question}}</p>
    <p id="answer-text" *ngIf="show" class="card-text">{{ flashcardInfo.answer }}</p>
    <button (click)="toShow()" type="button" class="btn btn-outline-primary">{{ show == true ? 'Hide Answer' : 'Show Answer' }}</button>

    <button type="button" class="btn btn-outline-primary" (click)="toEdit()">
        Edit
    </button>
</div>    <app-flashcard-edit [data]="flashcardInfo" *ngIf="edit">

    </app-flashcard-edit>